@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: black;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* visibility: hidden;
   */
  }

  .navbar li{
    display: inline-block;
    list-style: none;
    height: 50px;
    padding: 25px 40px;
    
   }

   .nav-link{
    color: white;
    text-decoration: none;
   }

   .nav-link:hover{
       color: yellow;
   }

   .logo {
    float: left;
    height: 100px;
    width: 100px;

}

h1,h2,h3{
    text-align: center;

}

.h3 {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
.hero-image {
    margin-top: 100px;
    background-image: url("/Final-Project/img/hero.jpg");
    width: 100%;
    height: 1000px;
    top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .button{
    border: 2px solid black;
    align-items: center;
  
  }

.main {
    margin-top: 100px;
}

.aboutpage {
    background-image: url(/Final-Project/img/about.jpg);
    background-repeat: none;
    background-size: cover;
    
}

.about {
    color: white;
}

.video {
    margin: 300px;
    text-align: center;
}

.page {
    background-image: url("/Final-Project/img/la.jpg");
    background-repeat: none;
    background-size: cover;

    }

.contact {
    margin: 110px;
    text-align: center;
}


.row {
    margin: 150px;


}

.row:after{
    clear: both;
}

.col {
    float: left;
}

.col-1-2{
    width: 49%;

}

form {
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;


}

form input, textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; 
    font-size: inherit;
}

form .row .col:first-of-type{
    margin-right: 2%;

}

form input:focus, textarea:focus {
    outline: none !important;
    border: 1px solid yellow;
}
form button{
    display: inline-block;
    padding: 5px 10px;
    font-size: inherit;
}    

form button[type="submit"]:hover {
    background-color: yellow;
    font-size: 1em;
}


.text-align-center{
    text-align: center;
}

.row3::after {
    display: block;
    content: "";
    clear: both;
}

.col3 {
    box-sizing: border-box;
    float: left;
}


.col3-1_3 {
    width: 33.33%;
}

.row3 div{
    display: inline-block;
    height: 250px;
}

.row3 div:nth-of-type(1){
    background-color: darkgray;
    padding: 20px;
    border: lightgray solid 5px;
    text-align: center;
}

.row3 div:nth-of-type(2){
    background-color: darkgray;
    padding: 20px;
    border: lightgray solid 5px;
    text-align: center;
}

.row3 div:nth-of-type(3){
    background-color: darkgray;
    padding: 20px;
    border: lightgray solid 5px;
    text-align: center;
}


.row2::after {
    display: block;
    content: "";
    clear: both;

}

.col2 {
    float: left;
}

footer {
    background-color: black;
}

.col2-1-2 {
    width: 50%;
}

.icons {
    list-style-type: none;
    font-size: 24px;
    color: white;
}

.icons i {
    width: 40px;
    font-size: 35px;
}

.icons li {
    margin-bottom: 25px;
}


.icons-wrapper {
    display: inline-block;
    color: white;
}

.copy-right-wrapper {
    height: 68px;
    color: white;

}

.copy-right {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 18px;

}

.vertical-center-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

